.jobfilter-item {
  margin-left: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.85rem;
  background-color: #e0e0e0;
  border-radius: 10px;
  font-weight: 500;

  &.active {
    background-color: var(--ion-color-primary);
    color: #fff;
  }
}
